# Generative AI Connection API Keys / 生成AI接続用APIキー
# Set the API keys for the AI services you want to use / 利用したいAIのAPIキーを設定してください
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
MOONSHOT_API_KEY=
XAI_API_KEY=
UNSLOTH_API_KEY=

# Application Display Language / アプリ表示用言語 (default:Japanese)
i18n_lang = "ja"  # "en":English, "ja":Japanese / 日本語
